html {
    position: relative;
    min-height: 100%;
}

body {
  /* background-color: #f0286d;
  background-image: linear-gradient(to bottom right, #fbf395, #f0286d);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
  margin: 0 0 50px;
}

.content::before {
  content: "";
  position: fixed;
  top: -5%;
  left: -5%;
  right: -5%;
  z-index: -1;

  display: block;
  background-image: url("https://i1.sndcdn.com/artworks-DgBJhAU0WDPMs9S9-JhKbDg-t500x500.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 110%;
  height: 110%;

  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}

.content {
  overflow: auto;
  position: relative;
  z-index: 5;
  margin: 50px;
}

#cover {
  width: 400px;
  height: 400px;
}

#title {
  position: relative;
  top: -4px;
  width: 400px;
  height: 550px:
  font-size: 24px;
  margin: 0 auto;
  border: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #580792;
}

.serwis-logo {
  width: auto;
  height: 40px;
  position: relative;
  top: 5px;
  right: 120px;
}

#serwis-logo-apple,
#serwis-logo-tidal {
  width: 90px;
}

#serwis-logo-amazon {
  height: auto;
  width: 90px;
  top: 14px;
}

#amazon {
  top: -22px;
}

.box {
  position: relative;
  top: -10px;
  height: 435px;
  width: 400px;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  background-color: #580792;
}

.listen {
  position: relative;
  bottom: 35px; 
  left: 115px;
  border: 2px solid #580792;
  height: 20px;
  width: 80px;
  margin: auto;
  padding: 5px;
  background-color: #9170c4;
}

.serwis {
  height: 50px;
  width: 398px;
  background-image: linear-gradient(to bottom right, #fbf395, #f0286d);
  border: 1px solid #580792;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #120b1b;
  z-index: 9;
}

.serwis:hover {
  background-image: linear-gradient(to bottom right, #800827, #f0286d);
}

.serwis:hover .listen {
  background-color: #f0286d;
}